<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/editproject.css}">
    <title>opret opgave</title>
</head>
<body class="body-form">
<form th:action="@{/opretopgaveaction}" method="POST">
    <h1>Opret Opgave</h1>
    <label for="taskname">Navn</label>
    <input type="text" id="taskname" name="taskname" placeholder="Indtast opgavens navn" required>

    <label for="taskdescription">Beskrivelse</label>
    <input type="text" id="taskdescription" name="taskdescription" placeholder="Indtast en kort beskrivelse" required>
    <input type="hidden" name="subtaskid" th:value="${subtaskid}">

    <label for="time">Tid</label>
    <input type="text" id="time" name="time" placeholder="Indtast varighed" required>

    <button type="submit">Opret</button>
</form>
<div class="tilbage-container2">
    <form th:action="@{/taskview(subtaskid=${subtaskid})}" method="get">
        <input type="hidden" name="subtaskid" th:value="${subtaskid}">
        <button type="submit" class="btn-tilbage2">Tilbage til opgaver</button>
    </form>
</div>
</body>
</html>
