<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/editproject.css}">
    <title>Oprettelse af delprojekt</title>
</head>
<body class="body-form">
<form th:action="@{/createsubtaskaction}" method="POST">
    <h1>Opret Projekt</h1>
    <label for="subtaskname">Delprojekt navn</label>
    <input type="text" id="subtaskname" name="subtaskname" placeholder="Indtast underopgavens navn" required>

    <label for="subtaskdescription">Beskrivelse af Delprojekt</label>
    <input type="text" id="subtaskdescription" name="subtaskdescription" placeholder="Indtast en kort beskrivelse" required>
    <input type="hidden" name="projectid" th:value="${projectid}">

    <button type="submit">Opret</button>
</form>
    <a th:href="@{/subtaskview(projectid=${projectid})}">Tilbage til opgaver</a>
</body>
</html>
