<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/editproject.css}">
  <title>Alpha Solutions Opret Bruger</title>
</head>
<body class="body-form">
<form action="/createUser" method="post">
  <h1>Opret en bruger!</h1>
  <div>
    <label for="username">Brugernavn</label>
    <input type="text" id="username" name="username" placeholder="Indtast dit brugernavn" required>
    <br>

    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" placeholder="Indtast din e-mail" required>
    <br>
    <label for="password">Adgangskode</label>
    <input type="password" id="password" name="password" placeholder="Indtast din adgangskode" required
           pattern="^(?=.*[A-Z]).{8,}$" title="Adgangskoden skal være mindst 8 tegn lang og indeholde mindst ét stort bogstav.">
    <br>

    <button type="submit" title="Klik for at oprette bruger">Opret Bruger</button>
  </div>
</form>
</body>
</html>
