<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/createproject.css}">
</head>
<body class="body-tabel">
<div class="logout-container">
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn-logout">Log ud</button>
    </form>
</div>
<div class="container">
    <h1>Velkommen til dit Dashboard</h1>
    <p>Bruger ID: <span th:text="${userId}"></span></p>
    <p>Brugernavn: <span th:text="${username}"></span></p>

    <!--Søge funktion-->
    <div class="search-container" >
        <form th:action="@{/searchproject}" method="post">
            <label>
                <input type="text" name="projectName" placeholder="Søg efter Projekt" class="search-box" required />
            </label>
            <input type="hidden" name="userId" th:value="${userId}" />
              <button type="submit" class="btn-search">Søg  <i class="fas fa-search"></i></button>
        </form>
    </div>

    <!-- Opret Projekt Knappen -->
    <div class="create-project">
        <form th:action="@{/createprojectview}" method="get">
        <button class="btn-create">Opret Projekt</button>
            <input type="hidden" name="userId" th:value="${userId}" />
        </form>
    </div>

    <h2>Dine projekter</h2>
    <table>
        <thead>
        <tr>
            <th>Projekt Navn</th>
            <th>Beskrivelse</th>
            <th>Total antal timer</th>
            <th>Total antal arbejdsdage</th>
            <th>Total antal timer pr. arbejdsdag</th>
            <th>Projektets status</th>
            <th>Funktioner</th>
        </tr>
        </thead>
        <tbody>
        <!-- Trækker fra projekt objektet -->
        <tr th:each="project : ${projects}">
            <!-- Klikbart Projektnavn og kunne sende videre til delprojekt-->
            <td>
                <a th:href="@{/subtaskview(projectid=${project.projectId})}"
                   class="project-link"
                   th:text="${project.projectName}">
                    Projekt navn
                </a>
            </td>
            <td th:text="${project.description}">Beskrivelse</td>
            <td th:text="${project.totalHours}+ ' Timer'">Antal timer</td>
            <td th:text="${project.workingDays}+' Dage'">Antal arbejdsdage</td>
            <td th:text="${project.hoursPrDay}+ ' Timer'" >Antal timer pr. arbejdsdage</td>
            <td th:classappend="${project.completed ? 'text-success' : 'text-danger'}"
                th:text="${project.completed ? 'Fuldført' : 'I gang'}"></td>
            <!-- Slet Projekt Knap -->
            <td>

                <form th:action="@{/editproject}" method="get" style="display:inline;">
                    <input type="hidden" name="projectid" th:value="${project.projectId}" />
                    <input type="hidden" name="userid" th:value="${userId}" />
                    <button class="btn-edit">Rediger <i class="fas fa-edit"></i></button>
                </form>

                <form th:action="@{/deleteproject}" method="post" style="display: inline">
                    <input type="hidden" name="projectid" th:value="${project.projectId}" />
                    <input type="hidden" name="userid" th:value="${userId}" />

                    <button class="btn-delete" type="submit">Slet <i class="fas fa-trash"></i></button>
                </form>


            </td>
        </tr>
        <!-- Hvis der ikke er nogen projekter kommer meddelsen nedenfor frem-->
        <tr th:if="${#lists.isEmpty(projects)}">
            <td colspan="7" class="no-projects">No projects available. Create one to get started!</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
