<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Subtask</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/createproject.css}">
</head>
<body class="body-tabel">
<!-- Log ud knap-->
<div class="logout-container">
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn-logout">Log ud</button>
    </form>
</div>
<!-- Tilbage knap-->
<div class="tilbage-container">
    <form th:action="@{/dashboard}" method="get">
        <input type="hidden" name="userId" th:value="${userId}">
        <button type="submit" class="btn-tilbage">Tilbage</button>
    </form>
</div>

<div class="project-container">
    <h1>Velkommen til dine delprojekter</h1>
    <p>Projekt id: <span th:text="${projectid}"></span> </p>
    <p>Projekt navn: <span th:text="${projectname}"></span> </p>

    <div class="create-project">
        <form th:action="@{/createSubTaskView}" method="get">
            <button class="btn-create">Opret delprojekt</button>
            <input type="hidden" name="projectid" th:value="${projectid}">
        </form>
    </div>

    <h2>Dine delprojekter</h2>
    <table>
        <thead>
        <tr>
            <th>Delprojekter navn</th>
            <th>Delprojekter beskrivelse</th>
            <th>Delprojekter tids estimat</th>
            <th>Delprojekter status</th>
            <th>Slet Delprojekt</th>
            <th>Ændre Delprojekt</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subtask : ${subtasks}">
            <td>
                <a th:href="@{/taskview(subtaskid=${subtask.subTaskId})}" class="project-link"
                   th:text="${subtask.subTaskName}">Delprojekt navn</a>
            </td>
            <td th:text="${subtask.subTaskDescription}">Beskrivelse</td>
            <td th:text="${subtask.subTaskTime}">Antal timer</td>
            <td th:classappend="${subtask.subTaskStatus ? 'text-success' : 'text-danger'}"
                th:text="${subtask.subTaskStatus ? 'Fuldført' : 'I gang'}"></td>
            <td>
                <!-- Ændre knappen-->
                <form action="/editsubtask" method="get">
                    <input type="hidden" name="subtaskid" th:value="${subtask.subTaskId}" />
                    <input type="hidden" name="projectid" th:value="${projectid}" />
                    <button type="submit" class="btn-edit">Rediger</button>
                </form>
            </td>
            <td>
                <!-- Slet knap -->
                <form action="/deleteSubTask" method="post">
                    <input type="hidden" name="subtaskId" th:value="${subtask.subTaskId}" />
                    <input type="hidden" name="projectid" th:value="${projectid}" />
                    <button type="submit" class="btn-delete">Slet</button>
                </form>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(subtasks)}">
            <td colspan="5" class="no-projects">Ingen Delprojekter her, opret en nu for at komme igang</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
