<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Subtask</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/subtaskview.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Velkommen til underopgave siden</h1>
    <p>Projekt id: <span th:text="${projectid}"></span> </p>
    <p>Projekt navn: <span th:text="${projectname}"></span> </p>

    <div class="create-project">
        <form th:action="@{/createSubTaskView}" method="get">
            <button class="btn-create"> Opret Subtask</button>
                <input type="hidden" name="projectid" th:value="${projectid}">
        </form>
    </div>

    <h2>Dine underopgaver</h2>
    <table>
        <thead>
        <tr>
            <th>Underopgave navn</th>
            <th>Underopgavens beskrivelse</th>
            <th>Underopgave tids estimat </th>
            <th>Underopgavens status</th>
            <th>Slet Subtask</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subtask : ${subtasks}">
            <td>
                <a th:href="@{/taskview(subtaskid=${subtask.subTaskId})}"
                   class="project-link"
                   th:text="${subtask.subTaskName}">
                    Underopgave navn
                </a>
            </td>
            <td th:text="${subtask.subTaskDescription}">Beskrivelse</td>
            <td th:text="${subtask.subTaskTime}">Antal timer</td>
            <td th:classappend="${subtask.subTaskStatus ? 'text-success' : 'text-danger'}"
                th:text="${subtask.subTaskStatus ? 'Fuldført' : 'I gang'}">
            </td>
            <!-- Slet SubTask Knap -->
            <td>
                <!-- Delete Button -->
                <form action="/deleteSubTask" method="post">
                    <input type="hidden" name="subtaskId" th:value="${subtask.subTaskId}" />
                    <input type="hidden" name="projectid" th:value="${projectid}" />
                    <button type="submit" class="btn-delete">Delete</button>
                </form>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(subtasks)}">
            <td colspan="5" class="no-projects">Ingen underopgaver her, opret en nu for at komme igang</td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>