<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Subtask</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/createproject.css}">
</head>
<body class="body-tabel">
<div class="logout-container">
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn-logout">Log ud</button>
    </form>
</div>
<div class="tilbage-container">
    <form th:action="@{/subtaskview}" method="get">
        <input type="hidden" name="projectid" th:value="${projectid}">
        <button type="submit" class="btn-tilbage">Tilbage</button>
    </form>
</div>

<div class="container">
    <h1>Velkommen til opgave siden</h1>
    <p>Delprojekt id: <span th:text="${subtaskid}"></span> </p>
    <p>Delprojekt navn: <span th:text="${subtaskname}"></span> </p>
    <div class="create-project">
        <form th:action="@{/opretopgaveview}" method="get">
            <button class="btn-create"> Opret Opgave</button>
            <input type="hidden" name="subtaskid" th:value="${subtaskid}">
        </form>
    </div>

    <h2>Dine opgaver</h2>
    <table>
        <thead>
        <tr>
            <th>Opgavens navn</th>
            <th>Opgavens beskrivelse</th>
            <th>Opgavens tids estimat</th>
            <th>Opgavens status</th>
            <th>Rediger opgaven</th>
            <th>Slet opgaven</th><!-- Ny kolonne for funktioner -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td>
                <a th:text="${task.taskName}" style="color: #4caf50">Opgave navn</a>
            </td>
            <td th:text="${task.description}">Beskrivelse</td>
            <td th:text="${task.hoursspent}">Antal timer</td>
            <td th:classappend="${task.iscompleted ? 'text-success' : 'text-danger'}"
                th:text="${task.iscompleted ? 'Fuldført' : 'I gang'}">
            </td>
            <td>
                <!-- Edit form -->
                <form th:action="@{/edittask}" method="get" style="display:inline; flex: auto">
                    <input type="hidden" name="taskId" th:value="${task.taskid}">
                    <input type="hidden" name="subtaskid" th:value="${subtaskid}">
                    <button class="btn-edit">Rediger <i class="fas fa-edit"></i></button>
                </form>

            </td>
            <td>
                <!-- Delete button -->
                <form th:action="@{/deletetask}" method="post" style="display:inline; flex: auto">
                    <input type="hidden" name="taskid" th:value="${task.taskid}">
                    <input type="hidden" name="subtaskid" th:value="${subtaskid}">
                    <button class="btn-delete" type="submit">Slet <i class="fas fa-trash"></i></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
