<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Subtask</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/taskview.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Velkommen til underopgave siden</h1>
    <p>Underopgave id: <span th:text="${subtaskid}"></span> </p>
    <p>Underopgave navn: <span th:text="${subtaskname}"></span> </p>
    <div class="create-project">
        <form th:action="@{/opretopgaveview}" method="get">
            <button class="btn-create"> Opret Opgave</button>
            <input type="hidden" name="subtaskid" th:value="${subtaskid}">
        </form>
    </div>

    <h2>Dine underopgaver</h2>
    <table>
        <thead>
        <tr>
            <th>Underopgave navn</th>
            <th>Underopgavens beskrivelse</th>
            <th>Underopgave tids estimat </th>
            <th>Underopgavens status</th>
            <th>Slet Task</th>
            <th>Edit Task</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td>
                <a th:text="${task.taskName}">
                    Opgave navn
                </a>
            </td>
            <td th:text="${task.taskDescription}">Beskrivelse</td>
            <td th:text="${task.taskTime}">Antal timer</td>
            <td th:classappend="${task.taskStatus ? 'text-success' : 'text-danger'}"
                th:text="${task.taskStatus ? 'Fuldført' : 'I gang'}">
            </td>
            <td>
                <!-- Slet Button -->
                <form action="/deleteTask" method="post">
                    <input type="hidden" name="taskId" th:value="${task.taskId}" />
                    <input type="hidden" name="subTaskId" th:value="${subtaskid}" />
                    <button type="submit" class="btn-delete">Delete</button>
                </form>
            </td>

        </tr>
        <tr th:if="${#lists.isEmpty(tasks)}">
            <td colspan="6" class="no-projects">Ingen underopgaver her, opret en nu for at komme igang</td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>